@model SewingMaterialsStorage.Models.Manufacturer

@{
    ViewData["Title"] = "Удалить производителя";
}

<div class="card shadow-sm">
    <div class="card-header bg-danger text-white">
        <h3 class="card-title"><i class="bi bi-exclamation-triangle"></i> @ViewData["Title"]</h3>
    </div>
    <div class="card-body">
        <h4>Вы уверены, что хотите удалить этого производителя?</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">Наименование:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.ManufacturerName)</dd>

            <dt class="col-sm-3">Страна:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Country.CountryName)</dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="ManufacturerId" />
            <div class="d-flex justify-content-between">
                <a asp-action="Index" class="btn btn-secondary">
                    <i class="bi bi-arrow-left"></i> Отмена
                </a>
                <button type="submit" class="btn btn-danger">
                    <i class="bi bi-trash"></i> Удалить
                </button>
            </div>
        </form>
    </div>
</div>