@model SewingMaterialsStorage.ViewModels.MaterialViewModel

<div class="col-md-6">
    <label asp-for="Shape" class="form-label required-field">Форма</label>
    <select asp-for="Shape" class="form-select">
        <option value="">-- Выберите форму --</option>
        <option value="Круглая">Круглая</option>
        <option value="Квадратная">Квадратная</option>
        <option value="Овальная">Овальная</option>
        <option value="Фигурная">Фигурная</option>
    </select>
    <span asp-validation-for="Shape" class="text-danger small"></span>
</div>

<div class="col-md-6">
    <label asp-for="ButtonSize" class="form-label required-field">Размер (мм)</label>
    <input asp-for="ButtonSize" class="form-control" type="number" step="1" min="1"
           placeholder="Введите размер">
    <span asp-validation-for="ButtonSize" class="text-danger small"></span>
</div>