@model SewingMaterialsStorage.ViewModels.CreateMaterialViewModel

<div class="col-md-6">
    <label asp-for="Width" class="form-label">Ширина (см)</label>
    <input asp-for="Width" class="form-control" type="number" step="1" min="1" required
           placeholder="1">
    <span asp-validation-for="Width" class="text-danger small"></span>
</div>

<div class="col-md-6">
    <label asp-for="Density" class="form-label">Плотность (г/м²)</label>
    <input asp-for="Density" class="form-control" type="number" step="1" min="1" required
           placeholder="1">
    <span asp-validation-for="Density" class="text-danger small"></span>
</div>