@model SewingMaterialsStorage.Models.MaterialThread

<div class="col-md-6">
    <label class="form-label">Толщина (мм)</label>
    <input asp-for="Thickness" type="number" step="0.01"
           class="form-control" min="0.01" required>
    <span asp-validation-for="Thickness" class="text-danger"></span>
</div>

<div class="col-md-6">
    <label class="form-label">Длина в катушке (м)</label>
    <input asp-for="LengthPerSpool" type="number"
           class="form-control" min="1" required>
    <span asp-validation-for="LengthPerSpool" class="text-danger"></span>
</div>